.alert {
  color: white;
  text-align: center;
  width: fit-content;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  &--danger {
    background-color: rgba(255, 88, 110, 1);
  }
  &--success {
    background-color: rgb(78, 231, 73);
  }
}
