@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@font-face {
  font-family: 'Quadrit';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Quadrit.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
    url('./fonts/Quadrit.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Quadrit.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/Quadrit.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/Quadrit.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Quadrit.svg#OpenSans') format('svg'); /* Legacy iOS */
}

#root {
  height: 100%;
  position: relative;
  min-height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // = 8px
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.App {
  height: 100%;
  position: relative;
  min-height: 100vh;
}
