.calendar-modal {
  font-size: 200%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  &__calendar {
    padding: 20px;
    z-index: 4;
  }
}
