.card {
  border: 2px dashed transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  max-width: 12vw;
  margin: 2.5rem 0;
  position: relative;
  width: 12vw;
  will-change: border, background;
  transition: border 0.3s, background 0.5s;
  border-radius: $radius-standard;

  &--element {
    background: $standard;
    &:hover {
      background: $standard-hover;
    }
  }

  &--center &__inner-text {
    text-align: center;
    font-size: 2.25rem;
    margin-left: auto;
    color: $color-center;
    padding: 1rem 2rem;
  }

  &--not-recommended {
    background-color: $card-not-recommended;

    &:hover {
      background-color: $card-not-recommended-hover;
    }
  }

  &--center {
    background-color: $center;
    font-weight: 600;
    font-size: 1.75rem;
    padding: 0.75rem;

    &:hover {
      background-color: $center-hover;
    }
  }

  &--option &__indication-circle {
    background-color: $option;
  }

  &--recommended &__indication-circle {
    background-color: $recommendation;
  }

  &--not-recommended &__indication-circle {
    background-color: $not-recommended;
  }

  &__button-container {
    position: absolute;
    bottom: -10px;
    left: -11px;
    width: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__indication-circle {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    border-radius: 50%;
    font-weight: 600;
    padding: 5px;
    line-height: 1.4;
    cursor: pointer;
  }

  .card__font-awesome-exclamation {
    color: white !important;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  &__inner-text {
    margin-right: auto;
    font-size: 2rem;
    resize: none;
    padding: 5px;
    border: 1px dashed transparent;
    cursor: pointer;
    width: fit-content;
    text-align: left;
    border-radius: 4px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
      'Lucida Console', Monaco, monospace;
    font-weight: 700;
    letter-spacing: -0.1rem;
    color: $color-standard;
    transition: border 0.2s, background 0.2s;

    &:hover {
      background: $textbox-standard-hover;
      border: 1px dashed rgba(0, 0, 0, 0.514);
    }
  }

  &--center &__inner-text {
    &:hover {
      background: $textbox-center-hover;
      border: 1px dashed rgba(255, 255, 255, 0.514);
    }
  }

  &__recommend-choice {
    position: absolute;
    top: -25px;
    right: 0;
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
  }

  &__recommend-choice &__indication-circle {
    margin: 0 2px;
    position: relative;
    width: 12px;
    height: 12px;
    transform: scale(0);
    line-height: 0.8;
    opacity: 0;
    padding: 3px;
    top: 0;
    left: -10px;
    transition-duration: 0.2s;
    border: 1px solid transparent;

    &--recommended {
      background-color: $recommendation;
    }
    &--option {
      background-color: $option;
    }
    &--not-recommended {
      background-color: $not-recommended;
    }
  }

  &__indication-circle:hover + &__recommend-choice &__indication-circle,
  &__recommend-choice:hover &__indication-circle {
    animation: FadeInDots 0.2s both 0s;
    &--recommended {
      animation-delay: 0s;
      &:hover {
        border: 1px solid black;
      }
    }
    &--option {
      animation-delay: 0.1s;
      &:hover {
        border: 1px solid black;
      }
    }
    &--not-recommended {
      animation-delay: 0.2s;
      &:hover {
        border: 1px solid black;
      }
    }
    opacity: 1;
  }

  &__due-date {
    margin-left: auto;
    font-weight: 400;
    font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto,
      'Segoe UI', Arial, sans-serif;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    justify-self: center;
    font-size: 1.25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__status-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__status {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 95px;
    margin: 1rem 0;

    &--status-text {
      margin-left: 1rem;
      cursor: pointer;
      transition: font-weight 0.1s;
      will-change: font-weight;
      font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto,
        'Segoe UI', Arial, sans-serif;
    }

    &--done-dot {
      background-color: $done;
    }

    &--in-progress-dot {
      background-color: $in-progress;
    }

    &--pending-dot {
      background-color: $pending;
    }

    &--pending-dot,
    &--in-progress-dot,
    &--done-dot {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-left: auto;
    }
  }

  &__bottom-row {
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: fit-content;
    line-height: 1;
  }

  &__status-choice {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    will-change: border, transform;
    position: absolute;
    top: -25px;
    right: 0;
    padding: 5px;
    padding-right: 0;
  }

  &__status-dot {
    &--in-progress-dot,
    &--done-dot,
    &--pending-dot {
      opacity: 0;
      margin: 0 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.65);
      }
    }

    &--done-dot {
      background-color: $done;
      animation-delay: 0s;
    }

    &--in-progress-dot {
      background-color: $in-progress;
      animation-delay: 0.2s;
    }

    &--pending-dot {
      background-color: $pending;
      animation-delay: 0.4s;
    }
  }

  &__status:hover &__status-dot--done-dot {
    animation: FadeInDots 0.2s both 0s;
    opacity: 1;
  }
  &__status:hover &__status-dot--in-progress-dot {
    animation: FadeInDots 0.2s both 0.1s;
    opacity: 1;
  }
  &__status:hover &__status-dot--pending-dot {
    animation: FadeInDots 0.2s both 0.2s;
    opacity: 1;
  }

  &__add-circle,
  &__delete-circle {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 3.25rem;
    will-change: transform, opacity;
    transition-duration: 0.2s;
    opacity: 0;
    cursor: pointer;
    background-color: #fff;
  }

  &__font-awesome-add-delete {
    color: #2a445d;
    font-size: 3rem;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 0;
    transform: scale(0);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 50%,
      #2a445d 53%,
      #2a445d 100%
    );
  }

  &:hover &__font-awesome-add-delete {
    opacity: 1;
    animation: action-tada 0.3s ease-out;
    transform: scale(1);
  }

  &--center &__font-awesome-add-delete {
    color: #436e96;
    background: #436e96;
    background: radial-gradient(circle, white 50%, #436e96 53%, #436e96 100%);
  }

  &--option &__font-awesome-exclamation,
  &--not-recommended &__font-awesome-exclamation {
    color: rgb(233, 233, 233);
    font-size: 1.5rem;
  }
  &:hover {
    border: 2px dashed $center;
  }
}
