.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  font-family: 'Raleway';
  margin-top: 1rem;
  margin-bottom: 1rem;
  //min-height: 75px;

  &__list {
    list-style: none;
  }

  &__list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
  }

  &__add-comment-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  &__add-comment-button:hover &__add-comment-text {
    font-weight: 600;
  }

  &__add-comment-text {
    margin-left: 2px;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto,
      'Segoe UI', Arial, sans-serif;

    &:hover {
      font-weight: 700;
    }
  }

  &__add-comment-svg {
    align-items: center;
    color: #dd4b39;
    display: inline-flex;
    height: 17px;
    justify-content: center;
    margin-right: 2px;
    vertical-align: 7px;
    width: 17px;
    border: 1px solid transparent;
    transition: 0.2s;
    border-radius: 4px;
  }

  &__add-comment-button:hover &__add-comment-svg {
    border: 1px solid rgba(0, 0, 0, 0.397);
    background-color: #fff7dd;
  }

  &__comments-textarea {
    background-color: #ffedb8;
    resize: none;
    padding: 5px 5px;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1px 0;
    border: 1px dashed transparent;
    line-height: 15px;
    overflow-wrap: break-word;
    width: 80%;
    min-height: 15px;
    border-radius: 4px;

    &:hover {
      border: 1px dashed rgba(0, 0, 0, 0.514);
    }
  }

  &__svg {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &__comment-action-button {
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 10px;
    border-radius: 4px;
    &:hover {
      background-color: #fff7dd;
      border: 1px solid rgba(0, 0, 0, 0.514);
    }
  }
}

.card {
  &:hover {
    .comments-row__comments-textarea {
      background-color: #fff7dd;
    }
  }
}
