.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  font-family: 'Raleway';
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  @media only screen and(min-width: 1100px) {
    margin-top: 3rem;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
  }

  &__add-comment-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0.75rem;
  }

  &__add-comment-text {
    margin-left: 1rem;
    line-height: 1.25;
    cursor: pointer;
    color: rgb(44, 47, 51);
    font-size: 1.25rem;
    font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto,
      'Segoe UI', Arial, sans-serif;
    backface-visibility: hidden;

    @media only screen and(min-width: 800px) {
      font-size: 1.5rem;
    }
  }

  &__add-comment-svg {
    align-items: center;
    color: #dd4b39;
    display: inline-flex;
    height: 17px;
    justify-content: center;
    margin-right: 2px;
    vertical-align: 7px;
    width: 17px;
    border: 1px solid transparent;
    transition: background-color 0.2s, border 0.2s;
    backface-visibility: hidden;
    padding: 2px;
  }

  &__comments-textarea {
    background-color: $textarea-standard;
    resize: none;
    padding: 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px dashed transparent;
    line-height: 15px;
    overflow-wrap: break-word;
    width: 80%;
    min-height: 15px;
    color: black;
    backface-visibility: hidden;

    &:hover {
      background-color: $textarea-standard-hover;
      border: 1px dashed rgba(0, 0, 0, 0.514);
    }
  }

  &__font-awesome-plus,
  &__font-awesome-trash {
    font-size: 1.5rem;
    cursor: pointer;
    color: #2a445d;

    &:hover {
      color: #3b6e9e;
    }
  }

  &__font-awesome-trash {
    font-size: 2rem;
  }

  &__font-awesome-plus {
    padding: 2px;
    border: 1px solid transparent;
    transition-duration: 0.1s;
  }

  &__add-comment-button:hover > &__font-awesome-plus {
    color: #3b6e9e;
  }

  &__comment-action-button {
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 10px;
    backface-visibility: hidden;
    padding: 0.5rem;
    cursor: pointer;
  }
}
