.edit-card-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__wrapper {
    background-color: #ffe599;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
  }

  &__edit-title-wrapper {
    font-family: 'Raleway';
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__close-button,
  &__save-button {
    font-family: 'Raleway';
    font-size: 2rem;
    cursor: pointer;
    font-weight: 800;
    border: none;
    background-color: transparent;
    &:last-child {
      margin-left: 2rem;
    }
  }

  &__inner-text {
    background-color: #ffff00;
    font-weight: 600;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    width: calc(40%);
    height: 20px;
    padding: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 2.25rem;
    font-weight: 800;
    border: none;
    resize: none;
    border: 1.5px dashed transparent;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 20px;
    transition-duration: 0.2s;

    &:hover {
      border: 1.5px dashed rgba(22, 22, 22, 0.8);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
      transform: scale(1.01);
    }
  }
}
