.map {
  overflow: hidden;
  position: relative;
  width: auto;

  &__section-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  &__legend,
  &__resource-wrapper {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    padding: 5rem;
    box-shadow: rgb(201, 201, 201) 0 5px 30px -15px;
    max-width: 25vw;
    flex-direction: column;
    display: flex;
  }

  &__legend {
    max-width: 35vw;
  }

  &__ul {
    list-style: none;
  }

  &__li {
    font-size: 2.25rem;
    margin-left: auto;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
      'Lucida Console', Monaco, monospace;
    font-weight: 400;
    color: #24292e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
  }

  &__github-link {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    color: black;
  }

  &__github-icon {
    width: 40px !important;
    height: 40px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &__indication-circle {
    width: 20px !important;
    height: 20px;
    background-color: $recommendation;
    border-radius: 50%;
    color: white;
    padding: 5px;
    margin-right: 1rem;

    &--not-recommended {
      background-color: $not-recommended;
    }

    &--option {
      background-color: $option;
    }

    &--own-edit {
      background-color: $own-edit;
    }
  }

  &__resource-text {
    font-size: 2.25rem;
    margin-left: auto;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
      'Lucida Console', Monaco, monospace;
    font-weight: 400;
    color: #24292e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
  }
}
