.menue-bar {
  min-height: 65px;
  width: 100%;
  background-color: #2b78e4;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__free-indicator {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
  }

  &__title {
    justify-self: flex-start;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 1rem;
    margin-left: 4vw;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 0.2rem;
    font-family: 'Quadrit';
    color: #ec4c4c;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 4vw;
  }

  &__link {
    color: black;
    background-color: transparent;
    border: none;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
      'Lucida Console', Monaco, monospace;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
  }

  &__spaceholder {
    min-height: 65px;
  }
}
