.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin: 2vh auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sub-left left-side centered right-side sub-right';

  &:first-child {
    margin-bottom: 5vh;
  }

  &__side-elements {
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--left {
      grid-area: left-side;
    }

    &--right {
      grid-area: right-side;
    }

    &--right.section__side-elements--subchild {
      grid-area: sub-right;
    }

    &--left.section__side-elements--subchild {
      grid-area: sub-left;
    }

    &--center-section {
      grid-area: centered;
      height: auto;
    }
  }
}
