$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

//Cards backgrounds
$standard: #f1f0ec;
$standard-hover: #f5f4ef;
$center: #2a445d;
$center-hover: #345574;
$own: #e9e8e3;
$own-hover: #f5f4ee;

//Cards FontColors
$color-center: #fff;
$color-standard: rgb(32, 32, 32);

//Textareas
$textarea-standard: #f9f9f9;
$textarea-standard-hover: #fff;

//Textboxes
$textbox-center-hover: #3b6083;
$textbox-standard-hover: #f8f8f8;

//Strokes
$add-node-color: #6a9492;
$stroke-color: #8bb8b5;

//Dot Indicators
$recommendation: #ffc743;
$option: #2b78e4;
$not-recommended: rgb(182, 20, 182);
$own-edit: rgb(206, 206, 206);

//Card Indicators
$card-not-recommended: #adadad;
$card-not-recommended-hover: #bdbdbd;

$card-action-element: rgb(245, 245, 245);

//Radius
$radius-standard: 4px;

$red-accent: #ec4c4c;

//Status Indicators
$done: gold;
$in-progress: silver;
$pending: red;
