@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  text-align: center;
  grid-gap: 10px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 0.5rem;
}

.main {
  width: 100vw;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  width: -moz-fit-content;
  /* width: fit-content; */
  position: relative;
  margin: 3vh 6vw;
}

.section:first-child {
  margin-bottom: 5vh;
}

.section__side-elements {
  margin: 0 auto;
  position: relative;
}

.elem {
  border: 1.5px solid rgba(22, 22, 22, 0);
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  background: white;
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  max-width: 30rem;
  margin: 2vh 0;
  letter-spacing: 0.1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 3vh;
  flex-wrap: wrap;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, border 0.3s, background 0.1s;
}

.elem:hover {
  border: 1.5px dashed rgba(22, 22, 22, 0.8);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
  transform: scale(1.01);
}

.element {
  background-color: #ffe599;
}

.element:hover {
  background-color: #fff0c4;
}

.center {
  background-color: #ffff00;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0;
  width: 10vw;
}

.center:hover {
  background-color: #ffffa8;
}

.notRecommended,
.not-recommended-option {
  background-color: #d4d4d4;
}

.notRecommended:hover,
.not-recommended-option:hover {
  background-color: #ebebeb;
}

.map {
  overflow: hidden;
  position: relative;
  width: auto;
}

.svgs {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.svg {
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.indication-circle {
  width: 10px;
  height: 10px;
  background-color: #a537ff;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100px;
  z-index: 2;
  color: white;
  font-weight: 600;
  padding: 5px;
  line-height: 1;
  font-size: 1.5rem;
  cursor: default;
}

.not-strict .indication-circle {
  background-color: #d4d4d4;
}

.option .indication-circle,
.not-recommended-option .indication-circle {
  background-color: #39761d;
}

.elem .add-circle {
  position: absolute;
  bottom: -8px;
  left: -8px;

  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 100px;
  z-index: 2;
  color: #5b5b5f;
  font-weight: 600;
  padding: 4px;
  line-height: 0.55;
  font-size: 2.25rem;
  cursor: default;
  transition: 0.15s;
  border: 1px solid #5b5b5f;
  font-family: 'Roboto';
  transform: scale(0.001);
  opacity: 0;
  cursor: pointer;
  animation-timing-function: ease-in;
}

.elem:hover > .add-circle {
  opacity: 1;
  line-height: 0.6;
  transform: rotate(90deg) scale(1.3);
}

.elem .delete-circle {
  position: absolute;
  bottom: -8px;
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  z-index: 2;
  color: black;
  padding: 4px;
  font-size: 2.25rem;
  cursor: default;
  transition: 0.15s;
  transform: scale(0.001);
  opacity: 0;
  cursor: pointer;
  animation-timing-function: ease-in;
  overflow: visible;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
}

.delete-circle svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 400px;
}

.elem:hover > .add-circle:hover,
.elem:hover > .delete-circle:hover {
  transform: scale(1.4);
  background-color: #ffd75f;
}

.elem:hover > .delete-circle {
  opacity: 1;
  transform: rotate(90deg) scale(1.3);
}

.inner-text {
  cursor: default;
  margin-right: 0.5vw;
  margin-bottom: 0.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  max-width: 70%;
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

.center-section {
  margin: 0;
}

.center-section:first-child {
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.center .inner-text {
  text-align: center;
  font-family: 'Raleway';
  font-size: 2.25rem;
}

.due-date {
  margin-right: 0;
  margin-left: auto;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 40%;
  height: 15px;
  text-align: right;
  width: fit-content;
  transition: 0.1s;
}

.due-date:hover {
  text-shadow: 0px 0px 0px black;
  font-weight: 600;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.status .status-text {
  margin-left: 0.5rem;
  line-height: 2;
  cursor: pointer;
  transition: 0.1s;
}

.status .status-text:hover {
  text-shadow: 0 0 0px black;
  font-weight: 600;
}

.status .green-dot {
  width: 10px;
  height: 10px;
  background-color: chartreuse;
  border-radius: 100px;
  margin-left: auto;
}

.status .red-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 100px;
  margin-left: auto;
}

.importance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
  transition: 0.1s;
  width: fit-content;
  margin-left: auto;
}

.bottom-row .importance {
  margin-left: 0;
}

.importance:hover {
  text-shadow: 0 0 0px black;
}

.bottom-row,
.heading {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.comments-row ul {
  list-style: none;
}

.comments-row li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  border: 1px solid transparent;
}

.comments-row .comment-action-button {
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 10px;
  /*background-color: #f5e1a5;
  padding: 0 1rem;
  font-family: 'Raleway';
  cursor: pointer;
  border: none;
  border: 1px solid transparent;
  opacity: 0;
  cursor: default;
  height: 30px;*/
}

.comments-row svg {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.comments-row .comment-action-button:hover {
  background-color: #ffd75f;
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.comments-row .focus {
  opacity: 1;
  cursor: pointer;
}

.comments-row textarea {
  background-color: #ffedb8;
  resize: none;
  padding: 5px 5px;
  border: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1px 0;
}

.element:hover > .comments-row textarea {
  background-color: #fff7dd;
}

.comments-row textarea:hover {
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  line-height: 1;
}

.bottom-row div {
  margin-left: 10px;
}

.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin-top: 1rem;
  width: 100%;
  font-family: 'Raleway';
  min-height: 75px;
}

.comments-row input {
  background-color: transparent;
  color: black;
  border: none;
  font-weight: 400;
  font-family: 'Raleway';
}

.comments-row input::placeholder {
  color: black;
  font-weight: 400;
  font-family: 'Raleway';
}

.add-comment-button {
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.75rem;
  transition: 0.1s;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
}

.add-comment-button:hover {
  text-shadow: 0 0 0px black;
  font-weight: 600;
}

.add-comment-svg {
  align-items: center;
  color: #dd4b39;
  display: -webkit-inline-box;
  display: inline-flex;
  height: 17px;
  justify-content: center;
  margin-right: 7px;
  vertical-align: 7px;
  width: 17px;
  border: 1px solid transparent;
  transition: 0.2s;
}

.add-comment-button:hover > .add-comment-svg {
  border: 1px dashed rgba(0, 0, 0, 0.397);
  background-color: #ffd75f;
}

.github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-row .github-link {
  margin-left: 0;
}
