@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format('truetype');
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  text-align: center;
  grid-gap: 10px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 0.5rem;
}

.main {
  width: 100vw;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap;*/
  margin: 2.5rem auto;
  width: fit-content;
}

.section:first-child {
  margin-bottom: 10vh;
}

.section__side-elements {
  margin: 0 2vw;
}

.elem {
  border: 1.5px solid rgba(22, 22, 22, 0);
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  margin: 10px;
  background: white;
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  max-width: 15vw;
  letter-spacing: 0.1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 3vh;
  flex-wrap: wrap;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.elem:hover {
  border: 1.5px dashed rgba(22, 22, 22, 0.8);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
}

.element {
  background-color: #ffe599;
}

.element:hover {
  background-color: #fff0c4;
}

.center {
  background-color: #ffff00;
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 1.75rem;
  letter-spacing: 0;
  width: 10vw;
}

.center:hover {
  background-color: #ffffa8;
}

.notRecommended,
.not-recommended-option {
  background-color: #d4d4d4;
}

.notRecommended:hover {
  background-color: #ebebeb;
}

.map {
  overflow: hidden;
  position: relative;
  width: auto;
}

.svgs {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.svg {
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.indication-circle {
  width: 10px;
  height: 10px;
  background-color: #a537ff;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100px;
  z-index: 2;
  color: white;
  font-weight: 600;
  padding: 5px;
  line-height: 1;
  font-size: 1.5rem;
  cursor: default;
}

.not-strict .indication-circle {
  background-color: #d4d4d4;
}

.option .indication-circle,
.not-recommended-option .indication-circle {
  background-color: #39761d;
}

.add-circle-child-right {
  width: 10px;
  height: 10px;
  background-color: #fff2ca;
  border: 1px solid black;
  position: absolute;
  top: calc(50% - 10px);
  left: -12.5px;
  border-radius: 100px;
  z-index: 2;
  color: black;
  font-weight: 500;
  line-height: 0.4;
  padding: 5px;
  font-size: 2rem;
  cursor: default;
  z-index: 0;
  font-size: 25px;
}

.inner-text {
  cursor: default;
  margin-right: 0.5vw;
  text-align: left;
  margin-left: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  max-width: 70%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-right: 0.5vw;
}

.center .inner-text {
  text-align: center;
  font-family: 'SegoeUI';
  font-size: 2.25rem;
}

.due-date {
  margin-right: 0.5vw;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SegoeUI';
}

.bottom-row,
.comments-row {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  line-height: 1;
}

.bottom-row div {
  margin-left: 10px;
}

.comments-row div {
  width: fit-content;
}

.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  margin-top: 1rem;
  width: 100%;
}
