@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.map {
  overflow: hidden;
  position: relative;
  width: auto;
  height: calc(100% + 500px);
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  width: -moz-fit-content;
  position: relative;
  margin: 3vh 6vw;
}

.section:first-child {
  margin-bottom: 5vh;
}

.section__side-elements {
  margin: 0 auto;
  position: relative;
}

.section__side-elements--center-section {
  margin: 0;
}

.section__side-elements--center-section:first-child {
  margin: 0 auto;
}

.card {
  border: 1.5px dashed transparent;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  max-width: 15vw;
  margin: 2vh 0;
  letter-spacing: 0.1rem;
  position: relative;
  font-family: 'Raleway';
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 3vh;
  flex-wrap: wrap;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, border 0.3s, background 0.1s;
}

.card--element {
  background-color: #ffe599;
}

.card--element:hover {
  background-color: #fff0c4;
}

.card--center .card__inner-text {
  text-align: center;
  font-family: 'Raleway';
  font-size: 2.25rem;
}

.card--not-recommended, .card--not-recommended-option {
  background-color: #d4d4d4;
}

.card--not-recommended:hover, .card--not-recommended-option:hover {
  background-color: #ebebeb;
}

.card--center {
  background-color: #ffff00;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0;
  min-width: 10vw;
}

.card--center:hover {
  background-color: #ffffa8;
}

.card--option .card__indication-circle,
.card--not-recommended-option .card__indication-circle {
  background-color: #39761d;
}

.card--not-strict .card__indication-circle {
  background-color: #d4d4d4;
}

.card__button-container {
  position: absolute;
  bottom: -10px;
  left: -11px;
  width: 55px;
  height: fit-content;
  background: transparent;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__indication-circle {
  width: 10px;
  height: 10px;
  background-color: #a537ff;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100px;
  z-index: 2;
  color: white;
  font-weight: 600;
  padding: 5px;
  line-height: 1;
  font-size: 1.5rem;
  cursor: default;
}

.card__heading {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
}

.card__inner-text {
  cursor: default;
  margin-right: 0.5vw;
  margin-bottom: 0.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  max-width: 70%;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-family: 'Raleway';
  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: hidden;
  padding: 5px;
  border: 1px dashed transparent;
  cursor: pointer;
}

.card__inner-text:hover {
  background-color: #fff7dd;
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.card__due-date {
  margin-right: 0;
  margin-left: auto;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 40%;
  height: 15px;
  width: fit-content;
  transition: 0.1s;
}

.card__due-date:hover {
  text-shadow: 0px 0px 0px black;
  font-weight: 600;
}

.card__status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.card__status--status-text {
  margin-left: 0.5rem;
  line-height: 2;
  cursor: pointer;
  transition: 0.1s;
}

.card__status--status-text:hover {
  text-shadow: 0 0 0px black;
  font-weight: 600;
}

.card__status--green-dot {
  width: 10px;
  height: 10px;
  background-color: chartreuse;
  border-radius: 100px;
  margin-left: auto;
}

.card__status--yellow-dot {
  width: 10px;
  height: 10px;
  background-color: #fffb00;
  border-radius: 100px;
  margin-left: auto;
}

.card__status--red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100px;
  margin-left: auto;
}

.card__bottom-row {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  line-height: 1;
}

.card__add-circle, .card__delete-circle {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  z-index: 2;
  color: black;
  padding: 4px;
  font-size: 2.25rem;
  cursor: default;
  transition: 0.15s;
  transform: scale(0.001);
  opacity: 0;
  cursor: pointer;
  animation-timing-function: ease-in;
  overflow: visible;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
}

.card__add-circle svg, .card__delete-circle svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 400px;
}

.card:hover .card__add-circle {
  opacity: 1;
  transform: rotate(45deg) scale(1.3);
}

.card:hover .card__delete-circle {
  opacity: 1;
  transform: rotate(90deg) scale(1.3);
}

.card:hover .card__add-circle:hover,
.card:hover .card__delete-circle:hover {
  transform: scale(1.4);
  background-color: #ffd75f;
}

.card:hover .card__add-circle:hover {
  transform: scale(1.4) rotate(135deg);
  background-color: #ffd75f;
}

.card:hover {
  border: 1.5px dashed rgba(22, 22, 22, 0.8);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
  transform: scale(1.01);
}

.svgs {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.svgs__single-svg {
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  font-family: 'Raleway';
  min-height: 75px;
}

.comments-row__list {
  list-style: none;
}

.comments-row__list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
}

.comments-row__add-comment-button {
  font-weight: 400;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.75rem;
  transition: 0.1s;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
  width: fit-content;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
}

.comments-row__add-comment-button:hover {
  text-shadow: 0 0 1px black;
}

.comments-row__add-comment-svg {
  align-items: center;
  color: #dd4b39;
  display: inline-flex;
  height: 17px;
  justify-content: center;
  margin-right: 7px;
  vertical-align: 7px;
  width: 17px;
  border: 1px solid transparent;
  transition: 0.2s;
}

.comments-row__add-comment-button:hover .comments-row__add-comment-svg {
  border: 1px dashed rgba(0, 0, 0, 0.397);
  background-color: #ffd75f;
}

.comments-row__comments-textarea {
  background-color: #ffedb8;
  resize: none;
  padding: 5px 5px;
  border: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 15px;
  overflow-wrap: break-word;
  width: 80%;
}

.comments-row__comments-textarea:hover {
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.comments-row__svg {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.comments-row__comment-action-button {
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 10px;
}

.comments-row__comment-action-button:hover {
  background-color: #ffd75f;
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.card:hover .comments-row__comments-textarea {
  background-color: #fff7dd;
}

.edit-card-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.edit-card-modal__heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.edit-card-modal__wrapper {
  background-color: white;
  width: 50vw;
  height: 50vh;
  padding: 2rem;
}

.edit-card-modal__edit-title-wrapper {
  background-color: white;
  font-family: 'Raleway';
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.edit-card-modal__close-button, .edit-card-modal__save-button {
  font-family: 'Raleway';
  font-size: 2rem;
  cursor: pointer;
  font-weight: 800;
  border: none;
  background-color: transparent;
}

.edit-card-modal__close-button:last-child, .edit-card-modal__save-button:last-child {
  margin-left: 2rem;
}

.edit-card-modal__inner-text {
  background-color: #ffff00;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  width: calc(40%);
  height: 20px;
  padding: 20px;
  line-height: 20px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 2.25rem;
  font-weight: 800;
  border: none;
  resize: none;
  border: 1.5px dashed transparent;
  overflow-y: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 20px;
  transition-duration: 0.2s;
}

.edit-card-modal__inner-text:hover {
  border: 1.5px dashed rgba(22, 22, 22, 0.8);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  transform: scale(1.01);
}
/*# sourceMappingURL=main.css.map */