@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@font-face {
  font-family: 'Quadrit';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Quadrit.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"), url("./fonts/Quadrit.eot?#iefix") format("embedded-opentype"), url("./fonts/Quadrit.woff2") format("woff2"), url("./fonts/Quadrit.woff") format("woff"), url("./fonts/Quadrit.ttf") format("truetype"), url("./fonts/Quadrit.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  min-height: 100vh;
  background-color: #fafbfc;
  background-color: #fff;
}

.App {
  height: 100%;
  position: relative;
}

@keyframes action-tada {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1) rotate(3deg);
  }
  40% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(0.99) rotate(-3deg);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes action-tada-card-del {
  0% {
    transform: scale(1.4);
  }
  20% {
    transform: scale(1.5) rotate(3deg);
  }
  40% {
    transform: scale(1.37);
  }
  60% {
    transform: scale(1.399) rotate(-3deg);
  }
  80% {
    transform: scale(1.45);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes action-tada-card-add {
  0% {
    transform: scale(1.4);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1.37);
  }
  60% {
    transform: scale(1.399);
  }
  80% {
    transform: scale(1.45);
  }
  100% {
    transform: scale(1.4) rotate(45deg);
  }
}

.map {
  overflow: hidden;
  position: relative;
  width: auto;
}

.map__section-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.map__legend, .map__resource-wrapper {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 30px -15px;
  max-width: 30vw;
}

.map__legend {
  max-width: 35vw;
}

.map__ul {
  list-style: none;
}

.map__li {
  font-size: 2.25rem;
  margin-left: auto;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-weight: 400;
  letter-spacing: -0.5px;
  overflow: hidden;
  color: #24292e;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
}

.map__indication-circle {
  font-family: 'Raleway';
  width: 15px;
  height: 15px;
  background-color: #a537ff;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  padding: 5px;
  line-height: 1;
  font-size: 2rem;
  cursor: default;
  margin-right: 1rem;
}

.map__indication-circle--not-recommended {
  background-color: #d4d4d4;
}

.map__indication-circle--option {
  background-color: #39761d;
}

.map__resource-text {
  font-size: 2.25rem;
  margin-left: auto;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-weight: 400;
  letter-spacing: -0.5px;
  overflow: hidden;
  color: #24292e;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
  white-space: pre-line;
}

.map__resource-link {
  width: 100%;
  background-color: #4135d6;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.map__resource-link a {
  color: white;
  font-size: 2rem;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
}

.section {
  position: relative;
  margin: 8vh auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sub-left left-side centered right-side sub-right';
  margin-left: 2vw;
  margin-right: 2vw;
}

.section:first-child {
  margin-bottom: 5vh;
}

.section__side-elements {
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__side-elements--left {
  grid-area: left-side;
}

.section__side-elements--right {
  grid-area: right-side;
}

.section__side-elements--right.section__side-elements--subchild {
  grid-area: sub-right;
}

.section__side-elements--left.section__side-elements--subchild {
  grid-area: sub-left;
}

.section__side-elements--center-section {
  grid-area: centered;
  height: auto;
}

.bubble {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #fff;
  left: calc(50% - 22px);
  position: absolute;
  transform-origin: center;
  transition-duration: box-shadow 0.5s, background 0.5s;
  cursor: pointer;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  border: 4px solid #2b78e4;
}

.bubble::before {
  content: '+';
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 800;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  line-height: 1.37;
  color: #2b78e4;
}

.bubble:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
  animation: action-tada 0.5s ease-in;
}

.bubble:hover::before {
  animation: action-tada 0.5s ease-in;
}

.card {
  border: 2px dashed transparent;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  max-width: 15vw;
  margin: 1vh 0;
  letter-spacing: 0.1rem;
  position: relative;
  font-family: 'Raleway';
  min-height: 3vh;
  min-width: 15vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  will-change: border, background;
  transition: border 0.3s, background 0.5s;
  border-radius: 0px;
}

.card--element {
  background-color: #ffe599;
}

.card--element:hover {
  background-color: #fff0c4;
}

.card--center .card__inner-text {
  text-align: center;
  font-size: 2.25rem;
  margin-left: auto;
}

.card--not-recommended, .card--not-recommended-option {
  background-color: #d4d4d4;
}

.card--not-recommended:hover, .card--not-recommended-option:hover {
  background-color: #ebebeb;
}

.card--center {
  background-color: #ffff00;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0;
  min-width: 10vw;
}

.card--center:hover {
  background-color: #ffffa8;
}

.card--option .card__indication-circle,
.card--not-recommended-option .card__indication-circle {
  background-color: #39761d;
}

.card--not-strict .card__indication-circle {
  background-color: #d4d4d4;
}

.card__button-container {
  position: absolute;
  bottom: -10px;
  left: -11px;
  width: 53px;
  height: fit-content;
  background: transparent;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__indication-circle {
  width: 15px;
  height: 15px;
  background-color: #a537ff;
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  border-radius: 100px;
  z-index: 2;
  color: white;
  font-weight: 600;
  padding: 5px;
  line-height: 1.3;
  font-size: 1.5rem;
  cursor: default;
}

.card__heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  justify-content: center;
}

.card__inner-text {
  margin: 0 auto;
  margin-left: 0;
  font-size: 2rem;
  background: transparent;
  resize: none;
  padding: 5px;
  border: 1px dashed transparent;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  text-align: left;
  border-radius: 4px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  color: #24292e;
  transition: border 0.2s, background 0.2s;
}

.card__inner-text:hover {
  background: #fff7dd;
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.card__due-date {
  margin-right: 0;
  margin-left: auto;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arial, sans-serif;
  cursor: pointer;
  width: 30%;
  height: 100%;
  padding: 5px;
  align-self: center;
  justify-self: center;
}

.card__due-date:hover {
  text-decoration: underline;
}

.card__status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__status {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  min-width: 95px;
  margin-top: 1rem;
}

.card__status--status-text {
  margin-left: 1rem;
  line-height: 2;
  cursor: pointer;
  transition: text-shadow 0.1s, font-weight 0.1s;
  will-change: text-shadow, font-weight;
  font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arial, sans-serif;
}

.card__status--status-text:hover {
  text-shadow: 0 0 0px black;
}

.card__status--green-dot {
  background-color: #76ec00;
}

.card__status--yellow-dot {
  background-color: yellow;
}

.card__status--red-dot {
  background-color: #c80000;
}

.card__status--red-dot, .card__status--yellow-dot, .card__status--green-dot {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-left: auto;
}

.card__bottom-row {
  margin-left: auto;
  width: fit-content;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  line-height: 1;
}

.card__status-choice {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  will-change: border, transform;
  transition: border 0.1s, transform 0.1s;
  position: absolute;
  top: -25px;
  right: 0;
  z-index: 3;
  background-color: #fff7dd;
  border: 1px solid rgba(0, 0, 0, 0.397);
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  transform: scale(1.05);
}

.card__status-choice:hover {
  border: 1px solid rgba(0, 0, 0, 0.397);
}

.card__status-choice--green-dot {
  background-color: chartreuse;
}

.card__status-choice--yellow-dot {
  background-color: #fffb00;
}

.card__status-choice--red-dot {
  background-color: red;
}

.card__status-choice--hidden {
  height: 0;
  opacity: 0;
  transform: scale(0);
}

.card__status-choice--yellow-dot, .card__status-choice--green-dot, .card__status-choice--red-dot {
  margin: 0 2px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  backface-visibility: hidden;
}

.card__status-choice--yellow-dot:hover, .card__status-choice--green-dot:hover, .card__status-choice--red-dot:hover {
  border: 1px solid rgba(0, 0, 0, 0.65);
}

.card:hover {
  border: 2px dashed #2b78e4;
}

.card__add-circle, .card__delete-circle {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  z-index: 2;
  padding: 4px;
  font-size: 2.25rem;
  will-change: transform opacity;
  transition-duration: 0.2s;
  opacity: 0;
  cursor: pointer;
  overflow: visible;
  border: none;
  background-color: #fff;
  transform: rotate(90deg);
}

.card__add-circle svg, .card__delete-circle svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 400px;
}

.card__add-circle {
  transform: rotate(45deg);
}

.card:hover .card__add-circle {
  opacity: 1;
  transform: scale(1.3) rotate(135deg);
}

.card:hover .card__delete-circle {
  opacity: 1;
  transform: scale(1.3);
}

.card:hover .card__delete-circle:hover {
  transform: scale(1.4) rotate(-90deg);
}

.card:hover .card__add-circle:hover {
  transform: scale(1.4) rotate(45deg);
}

.svgs {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.svgs__single-svg {
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.svgs path {
  stroke: #2b78e4;
  stroke-linecap: round;
  fill: transparent;
}

.svgs .svg-center {
  stroke-dasharray: 0;
  stroke-width: 4;
}

.svgs .svg-dash {
  stroke-dasharray: 5, 12;
  stroke-width: 2.5;
}

.comments-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  font-family: 'Raleway';
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.comments-row__list {
  list-style: none;
}

.comments-row__list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
}

.comments-row__add-comment-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0.75rem;
}

.comments-row__add-comment-text {
  margin-left: 2px;
  line-height: 1.5;
  cursor: pointer;
  color: #2c2f33;
  font-size: 1.5rem;
  font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arial, sans-serif;
  backface-visibility: hidden;
}

.comments-row__add-comment-svg {
  align-items: center;
  color: #dd4b39;
  display: inline-flex;
  height: 17px;
  justify-content: center;
  margin-right: 2px;
  vertical-align: 7px;
  width: 17px;
  border: 1px solid transparent;
  transition: background-color 0.2s, border 0.2s;
  border-radius: 4px;
  backface-visibility: hidden;
}

.comments-row__add-comment-button:hover .comments-row__add-comment-svg {
  border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: #fff7dd;
}

.comments-row__comments-textarea {
  background-color: #ffedb8;
  resize: none;
  padding: 5px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px dashed transparent;
  line-height: 15px;
  overflow-wrap: break-word;
  width: 80%;
  min-height: 15px;
  border-radius: 4px;
  color: black;
  backface-visibility: hidden;
}

.comments-row__comments-textarea:hover {
  border: 1px dashed rgba(0, 0, 0, 0.514);
}

.comments-row__svg {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.comments-row__comment-action-button {
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 10px;
  border-radius: 4px;
  backface-visibility: hidden;
}

.comments-row__comment-action-button:hover {
  background-color: #fff7dd;
  border: 1px solid rgba(0, 0, 0, 0.514);
}

.card:hover .comments-row__comments-textarea {
  background-color: #fff7dd;
}

.calendar-modal {
  font-size: 200%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.calendar-modal__calendar {
  padding: 20px;
  z-index: 4;
}

.menue-bar {
  min-height: 65px;
  width: 100%;
  background-color: #2b78e4;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menue-bar__free-indicator {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
}

.menue-bar__title {
  justify-self: flex-start;
  color: white;
  background-color: transparent;
  border: none;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 0px 1rem;
  margin-left: 4vw;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0.2rem;
  font-family: 'Quadrit';
  color: #ec4c4c;
}

.menue-bar__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 4vw;
}

.menue-bar__link {
  color: white;
  color: black;
  background-color: transparent;
  border: none;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-size: 2rem;
  cursor: pointer;
  padding: 0px 1rem;
}

.menue-bar__spaceholder {
  min-height: 65px;
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-color: #fafbfc;
  box-shadow: inset 0 -1px 0 #e1e4e8;
}

.header__heading {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 48px;
  font-size: 8rem;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */